<footer>
  <div class="footer-content">
    <div class="left">
      <div class="top">
        <h2>Let's preserve your moments forever?</h2>
      </div>
      
      <div class="bot">
        <h3>
          あなたの思い出を永遠に残しませんか？
        </h3>
      </div>
    </div>
    <div class="right tablet-desktop">
      <h4>GET IN TOUCH</h4>
      <a href="/contact"><p>Contact</p></a>
      <div class="icons">
        <a href="https://www.instagram.com/felipeorita/"><img src="../img/svg/instagram.svg" alt=""></a>
        <a href="https://line.me/R/oaMessage/@607mlzul/?Hi%2C%20I%20came%20from%20the%20site%20and%20need%20more%20information.%0A%E3%81%AF%E3%81%98%E3%82%81%E3%81%BE%E3%81%97%E3%81%A6%E3%80%82%E3%81%93%E3%81%A1%E3%82%89%E3%81%AE%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6%E8%A9%B3%E3%81%97%E3%81%8F%E7%9F%A5%E3%82%8A%E3%81%9F%E3%81%84%E3%81%A7%E3%81%99%E3%80%82"><img src="../img/svg/line.svg" alt=""></a>
        <a href="https://api.whatsapp.com/send?phone=818094043450&text=Hi%2C%20I%20came%20from%20the%20site%20and%20need%20more%20information.%0A%E3%81%AF%E3%81%98%E3%82%81%E3%81%BE%E3%81%97%E3%81%A6%E3%80%82%E3%81%93%E3%81%A1%E3%82%89%E3%81%AE%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6%E8%A9%B3%E3%81%97%E3%81%8F%E7%9F%A5%E3%82%8A%E3%81%9F%E3%81%84%E3%81%A7%E3%81%99%E3%80%82"><img src="../img/svg/whatsapp.svg" alt=""></a>
      </div>
    </div>
    <div class="bottom only-mobile">
      <div class="bottom-left">
        <h4>GET IN TOUCH</h4>
        <a href="/contact"><p>Contact</p></a>
      </div>
      <div class="icons">
        <a href="https://www.instagram.com/felipeorita/"><img src="../img/svg/instagram.svg" alt=""></a>
        <a href="https://line.me/R/oaMessage/@607mlzul/?Hi%2C%20I%20came%20from%20the%20site%20and%20need%20more%20information.%0A%E3%81%AF%E3%81%98%E3%82%81%E3%81%BE%E3%81%97%E3%81%A6%E3%80%82%E3%81%93%E3%81%A1%E3%82%89%E3%81%AE%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6%E8%A9%B3%E3%81%97%E3%81%8F%E7%9F%A5%E3%82%8A%E3%81%9F%E3%81%84%E3%81%A7%E3%81%99%E3%80%82"><img src="../img/svg/line.svg" alt=""></a>
        <a href="https://api.whatsapp.com/send?phone=818094043450&text=Hi%2C%20I%20came%20from%20the%20site%20and%20need%20more%20information.%0A%E3%81%AF%E3%81%98%E3%82%81%E3%81%BE%E3%81%97%E3%81%A6%E3%80%82%E3%81%93%E3%81%A1%E3%82%89%E3%81%AE%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6%E8%A9%B3%E3%81%97%E3%81%8F%E7%9F%A5%E3%82%8A%E3%81%9F%E3%81%84%E3%81%A7%E3%81%99%E3%80%82"><img src="../img/svg/whatsapp.svg" alt=""></a>
      </div>
    </div>
  </div>
  <div class="nami">
    <a href="https://www.namiconsultoria.com.br" target="_blank"
      >2025 | Website by Nami Consultoria</a
    >
  </div>
</footer>
