@use "./colors" as *;
@use "./global" as *;

.blackButton {
  border: none;
  width: fit-content;
  background: $preto;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: uppercase;
  color: $branco;
  padding: 1.3rem 2rem 1.8rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:hover {
    background: $branco;
    color: $preto;
    cursor: pointer;
  }
  @media screen and (max-width: 700px) {
    font-size: 1.4rem;
    padding: 0.5rem 0.8rem 0.7rem;
    line-height: normal;
  }
  @media (min-width: 701px) and (max-width: 1200px) {
    font-size: 1.4rem;
    padding: 0.6rem 1.6rem;
    line-height: normal;
  }
}