@use "./colors" as *;
@use "./global" as *;


#navbar.scrolled, #navAbout.scrolled {
    li a {
      text-shadow: 1px 1px 3px $preto ;
    }
}
 
nav {
  position: absolute;
  top: 0rem;
  z-index: 80;
  background: transparent;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  padding: 2rem;
  transition: background-color 0.5s, box-shadow 0.5s;

  ul {
      margin: auto;
      list-style: none;
      overflow: hidden;
  } 
    .selected{
      border-bottom: 1px solid $branco;
      pointer-events: none;
      h3, p{
        font-weight: 600;
      }
    }
    li a {
      text-align: center;
      text-transform: uppercase;
      display: block;
      padding: 0.5rem 0;
      position: relative;
      h3{
        color: $branco;
        font-weight: 300;
        font-size: 1.8rem;
      }
      p{
        color: $branco;
        font-weight: 300;
        font-size: 1.3rem;
      }
    }
    li a:hover:before{
      transform: scaleX(1);
    }
    li a:before{
      content: "";
      position: absolute;
      bottom: -1px;
      height: 1px;
      width: 100%;
      background: $branco;
      transform: scaleX(0);
      transition: transform 0.2s linear;
      left: 0;
    }
    .menu-btn:hover {
      color: #000;
    }
    .menu {
      clear: both;      
      max-height: 0;
      display: flex;
      justify-content: center;
      gap: 3.6rem;
      transition: max-height 0.5s ease-out;
  
      .menu-icon-inside {
        cursor: pointer;
        float: right;
        padding: 2rem 0;
        position: relative;
        user-select: none;
        margin-left: auto;
        margin-right: 1rem;
      }
  
      .menu-icon-inside .navicon {
        display: block;
        height: 4px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 45px;
      }
  
      .menu-icon-inside .navicon:before,
      .menu-icon-inside .navicon:after {
        background: transparent;
        content: "";
        display: block;
        height: 55%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 48%;
      }
  
      .menu-icon-inside .navicon:before {
        top: 10px;
      }
  
      .menu-icon-inside .navicon:after {
        top: -10px;
      }
  
      .menu-icon-inside .navicon:before {
        transform: rotate(-45deg);
      }
  
      .menu-icon-inside .navicon:after {
        transform: rotate(45deg);
      }
  
      .menu-icon-inside:not(.steps) .navicon:before,
      .menu-icon-inside:not(.steps) .navicon:after {
        top: 0;
      }
    }
    .menu-icon {
      cursor: pointer;
      float: right;
      padding: 1rem 0;
      position: relative;
      user-select: none;
      margin: 0;
      z-index: 30;

    }
    .menu-icon .navicon {
      background: $branco;
      display: block;
      height: 1px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 4rem;
    }
    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
      background: $branco;
      content: "";
      display: block;
      height: 130%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 80%;
    }
    .menu-icon .navicon:before {
      top: 8px;
    }
    .menu-icon .navicon:after {
      top: -8px;
    }
    .menu-btn {
      display: none;
    }

    @media (min-width: 701px) {
      animation-delay: 0s !important;
      .menu {
        clear: none;
        max-height: none;
      }
      .menu-icon {
        display: none;
      }
    }
    @media (max-width: 700px) {
      display: flex;
      background: transparent;
      width: 100vw;
      gap: 0;
      top: 0rem;
      position: absolute;
      padding: 4rem;
      .menu-icon{
        position: absolute;      
        right: 2rem;
      }
      .menu {
        position: absolute;
        top: 0rem;
        right: 0;
        background: $background-footer;
        width: 100vw;
        flex-direction: column;
        height: 100vh;
        gap: 2vh;
        margin-top: 0;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 3.6rem 2.2rem ;
        opacity: 0;
        > a{
          width: 12rem;
          height: auto;
          margin-bottom: 10vh;
          pointer-events: none;
          img{
            width: 100%;
          }
        }
        li {
          a {
            font-size: 1.7rem;
            color: $branco;
            text-align: left;
          }
        }
        .icons{
          display: flex !important;
          gap: 1rem;
          margin-top: 12vh;
          a{
            width: 2rem;
            img{
              width: 100%;
            }
          }
        }
      }
      .open {
        transition: max-height 0.5s ease-out;
        opacity: 1;
        >a{
          pointer-events: all;
        }
      }
      .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
      }
      .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }
      .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }
    }
    @media  (min-width:701px) and (max-width:1260px) {
      li a {
        font-size: 1.6rem;
      }
      .menu{
        gap: 3rem;
      }
    }
}

.nav2{
 ul {
      margin: auto;
      list-style: none;
      overflow: hidden;
  } 
    .selected{
      border-bottom: 1px solid $branco;
      pointer-events: none;
      h3, p{
        font-weight: 600;
      }
    }
     li a {
      text-align: center;
      text-transform: uppercase;
      display: block;
      padding: 0.5rem 0;
      position: relative;
      color: $branco;
      h3{
        font-weight: 300;
        font-size: 1.8rem;
        color: $branco;
      }
      p{
        font-weight: 300;
        font-size: 1.3rem;
        color: $branco;
      }
    }
    li a:hover:before{
      transform: scaleX(1);
    }
    li a:before{
      content: "";
      position: absolute;
      bottom: -1px;
      height: 1px;
      width: 100%;
      background: $branco;
      transform: scaleX(0);
      transition: transform 0.2s linear;
      left: 0;
    }
    @media screen and (max-width:700px) {
      .selected{
        border-bottom: 1px solid $branco;
        font-weight: 600;
        pointer-events: none;
        color: $branco;
      }
      li a:before{
        background: $branco;
      }
    }
}
.nav3{
 ul {
      margin: auto;
      list-style: none;
      overflow: hidden;
  } 
    .selected{
      border-bottom: 1px solid $cinza;
      font-weight: 400;
      pointer-events: none;
      h3, p{
        color: $cinza;
      }
    }
    li a {
      text-align: center;
      text-transform: uppercase;
      display: block;
      padding: 0.5rem 0;
      position: relative;
      color: $preto;
      h3{
        font-weight: 300;
        font-size: 1.8rem;
        color: $preto;
      }
      p{
        font-weight: 300;
        font-size: 1.3rem;
        color: $preto;
      }
    }
    li a:hover:before{
      transform: scaleX(1);
    }
    li a:before{
      content: "";
      position: absolute;
      bottom: -1px;
      height: 1px;
      width: 100%;
      background: $preto;
      transform: scaleX(0);
      transition: transform 0.2s linear;
      left: 0;
    }
       .menu-icon .navicon {
      background: $preto;
      display: block;
      height: 1px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 4rem;
    }
    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
      background: $preto;
      content: "";
      display: block;
      height: 130%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 80%;
    }
    @media screen and (max-width:700px) {
      .selected{
        border-bottom: 1px solid $branco;
        pointer-events: none;
        h3, p{
          font-weight: 600;
          color: $branco;
        }
      }
      li a {
        h3,p{
          color: $branco;
        }
      }
      li a:before{
        background: $branco;
      }
      .menu-btn:checked ~ .menu-icon .navicon:before {
        background-color: $branco;
      }
      .menu-btn:checked ~ .menu-icon .navicon:after {
        background: $branco;
      }
    }
}